/* For radio button */

.custom-radio [type="radio"]{ 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-radio [type="radio"] + .custom-radio-option:hover {
    cursor: pointer;
    background-color: #eeeeff;
    transition: 0.15s ease-in-out;
}

.custom-radio [type="radio"]:checked + .custom-radio-option {
    background-color: #ddddff;
}

/* For checkbox */

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-checkbox input[type="checkbox"] + label {
    display:block;
    width: 100%;
    border: 5px solid transparent;
}

.custom-checkbox input[type="checkbox"]:checked + label {
    border: 5px solid #673AB7;
}

/* For image inputs */
.custom-image-input [type="file"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* For border */

.custom-border{
    border: 1.6px solid #ddd;
}

.custom-border-none{
    border: none !important;
}

.custom-border-top{
    border-top: 1.6px solid #ddd;
}

.custom-border-bottom{
    border-bottom: 1.6px solid #ddd;
}

.custom-border-left{
    border-left: 1.6px solid #ddd;
}

.custom-border-right{
    border-right: 1.6px solid #ddd;
}

/* For Snapping Containers */
.custom-slider{
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    align-items: center;
    -webkit-overflow-scrolling: touch;

    /* remove horizontal scroll bar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* remove horizontal scroll bar */
.custom-slider::-webkit-scrollbar { display: none; } /* Chrome */

.custom-slider .custom-slide{
    display: inline-block;
    scroll-snap-align: center;
    margin-bottom: -6px;
}

/* custom background and texts */
.custom-bg-red		{ background-color: #ff2e63; color: #FAFBFC; }
.custom-bg-black	{ background-color: #252a34; color: #FAFBFC; }
.custom-bg-blue   	{ background-color: #364f6b; color: #FAFBFC; }
.custom-bg-gray   	{ background-color: #eff0f5; color: #252a34; }

.custom-text-red		{ color: #ff2e63; }
.custom-text-black	    { color: #252a34; }
.custom-text-blue   	{ color: #364f6b; }
.custom-text-gray   	{ color: #eff0f5; }

/* For search bar in navbar */
.search-box-suggestion-clear-laptop{
    top : 40;
}

.search-box-suggestion-clear-phone{
    top : 60;
}
